.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
}

.label {
  color: white;
  margin-right: 1%;
}

.dropdown-select {
  border-radius: 10px;
  width: 11%;
  text-align: center;
}

@media (max-width: 820px) {
  .dropdown-select {
    width: 35%;
  }
}