.full-details-container {
  width: 75%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px groove grey;
  border-radius: 20px;
}

.title {
  font-size: 2em;
  text-align: center;
}

.byline,
.abstract,
.section,
.link {
  font-size: 1.3em;
}

.date {
  font-size: 1em;
}

.abstract {
  width: 80%;
  text-align: center;
}

.home-button {
  margin-bottom: 1%;
  border-radius: 10px;
  width: 15%;
}

.section {
  font-style: italic;
}

.image {
  border-radius: 10px;
  width: 45%;
  border: 1px solid black;
}

.no-img-big {
  border-radius: 10px;
  width: 45%;
  height: 45%;
  border: 1px solid black;
  text-align: center;
  padding-top: 150px;
}

@media (max-width: 820px) {
  .image {
    width: 95%;
  }

  .home-button {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .full-details-container {
    width: 95%;
  }

  .title {
    font-size: 1.4em;
  }

  .byline,
  .abstract,
  .section,
  .link {
    font-size: .9em;
  }

  .date {
    font-size: .7em;
  }
}
